* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Container styles */

.container {
    display: block;
    width: 970px;
    margin: 0 auto;
}

/* Page header styles */

div.top-header {
    display: block;
}
div.top-header img {
    display: inline-block;
    /*    vertical-align: top;*/
    width: 80px;
    height: 80px;
    position: absolute;
    top: 1px;
}
div.top-header h1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 80px;
    color: #424242;
    font-weight: 500;
    font-size: 34px;
}
span.bluenet {
    color: #1341bd;
}
header h2 {
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
    color: #F2F2F2;
    padding: 15px;
    font-weight: 500;
}

/* Internet section */


/* Style for background gradient */


/* Add background gradient later */

section.background-gradient {
    background: #E0E0E0;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#E0E0E0, #fff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E0E0E0, #fff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E0E0E0, #fff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E0E0E0, #fff);
    /* Standard syntax */
}

/* Sidebar styles */

.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-left: 4px;
}
div.resources p {
    font-size: 14px;
    font-weight: 600;
    margin: 14px 0;
}
div.resources p.small-text {
    font-size: 12px;
}
div.resources p span.red {
    color: red;
}
div.resources p span.blue-internet {
    color: #1F5A94;
}
div.resources button.blue-button,
div.resources button.orange-button {
    width: 200px;
    color: #E3ECF4;
    padding: 5px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
}
div.resources button.blue-button {
    background: #4782B3;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1e5799, #4782B3);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1e5799, #4782B3);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1e5799, #4782B3);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1e5799, #4782B3);
    /* Standard syntax */
    margin-bottom: 2px;
}
div.resources button.orange-button {
    background: #FE9A2E;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FE9A2E, #ECA549);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FE9A2E, #ECA549);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FE9A2E, #ECA549);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FE9A2E, #ECA549);
    /* Standard syntax */
    margin-bottom: 18px;
}
p.seperator {
    border: 1px solid #d8d9de;
    margin-bottom: 18px;
}
div.coding-dojo {
    background: url('images/ad_background.png');
    height: 300px;
}
div.coding-dojo h3 {
    color: #F2F2F2;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    padding-top: 20px;
}
div.coding-dojo img {
    width: 100px;
    height: 140px;
    margin-left: 45px;
}
div.coding-dojo button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
    color: #ECF9FC;
    background: #FE9A2E;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#44CADF, #58FAF4);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#44CADF, #58FAF4);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#44CADF, #58FAF4);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#44CADF, #58FAF4);
    /* Standard syntax */
}

/* Main content */

.main-content {
    display: inline-block;
    vertical-align: top;
    width: 700px;
    margin-left: 40px;
}
.main-content p.border {
    border: 1px solid #D1D1D1;
    margin-bottom: 10px;
}
span.blue-content {
    color: #1495AC;
}

/* Contact info styles */

div.contact-info {
    display: block;
    margin-bottom: 10px;
}
div.dns {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
div.dns img {
    width: 20px;
    height: 20px;
}
div.dns p {
    display: inline;
    font-size: 14px;
    margin-bottom: 5px;
    color: #1F5A94;
}
div.contact-card {
    display: inline-block;
    vertical-align: top;
    margin-left: 380px;
}
div.contact-card img {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 6px;
}
div.contact-information {
    display: inline-block;
    vertical-align: top;
}
div.contact-information p {
    font-size: 14px;
    color: #595959;
}
div.contact-information p.phone {
    color: #00B8DA;
    font-size: 18px;
    font-weight: 600;
}

/* Common styles */

h3.heading {
    color: #1F5A94;
    margin-bottom: 5px;
}

/* Clients-Servers section styles */


/* Web process styles */

.clients-servers p,
.web-process p {
    margin-bottom: 5px;
    font-size: 14px;
}
.clients-servers ul,
.web-process ol {
    margin-left: 40px;
}
.clients-servers img {
    width: 350px;
    height: 130px;
    margin: 15px 0 15px 170px;
}

/* Web fundamentals section */

.web-fundamentals {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border-left: 4px solid #007ADC;
    border-top: 4px solid #007ADC;
    border-right: 4px solid #007ADC;
}
.web-fundamentals img {
    width: 110px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}
div.web-info {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-left: 10px;
}
div.web-info p {
    font-size: 14px;
}
div.web-info p a {
    text-decoration: none;
}
